#willisTitle {
    text-align: center;
    color: darkblue;
}

table,
th,
td {
    background-color: lightgreen;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#willisPic,
#willisVideo {
    height: 500px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.classHidden {
    display: none !important;
}

#link {
    text-align: center;
}

.date {
    text-align: center;
}

.centerClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: lightblue;
}


/* The following styles should be applied to trivia, triviaInput, answerButton, triviaContent
nextQuestion, and resetGame...
center the elements, center the text if there is any, set the top and bottom margins to 20px */

/* Set the top and bottom margins of triviaButton, titleInput, yearInput, and videoButton to 20px */